<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- 사용하는 DB의 종류를 적는다. -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<!-- 사용하는 DB의 Driver Class를 적는다 -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<!-- DB의 사용자 Id -->
		<property name="hibernate.connection.username">root</property>
		<!-- DB의 사용자 PWD -->
		<property name="hibernate.connection.password">21478965</property>
		<!-- 사용하는 DB의 URL -->
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/testdb</property>

		<!-- 콘솔에 SQL문을 보여 줄 것인지 설정 -->
		<property name="show_sql">true</property>
		<!-- sql을 formatting하여 보여줄 것인지 설정 -->
		<property name="format_sql">false</property>

		<!-- create : 실행 시 마다 table을 drop 후 create, 주로 개발 시에 사용 -->
		<!-- update : table없으면 생성 후 반영, table 있으면 변경된 내용 존재 시 update, 주로 운용 시 사용 -->
		<property name="hibernate.hbm2ddl.auto">create</property>

		<!-- *주의* 테스트 시 해당 클래스외에 다른 클래스들은 주석 처리를 할 것 -->
		<!-- 객체와 테이블을 매핑시킨다. Copy Qualified Name기능을 사용하여 패키지명까지 기술한다. -->
		<mapping class="Basics.Product" />
		<mapping class="OneToManyWithBidirectional.BiProduct" />
		<mapping class="OneToManyWithBidirectional.BiCategory" />
		<mapping class="OneToManyWithUnidirectional.UniProduct" />
		<mapping class="OneToManyWithUnidirectional.UniCategory" />
		<mapping class="OneToOneWIthBidirectional.BiPerson" />
		<mapping class="OneToOneWIthBidirectional.BiLicense" />
		<mapping class="OneToOneWIthUnidirectional.UniPerson" />
		<mapping class="OneToOneWIthUnidirectional.UniLicense" />
		<mapping class="ManyToManyWithUniBidirectional.Book" />
		<mapping class="ManyToManyWithUniBidirectional.Author" />
	</session-factory>
</hibernate-configuration>